<div class="col-md-4 top_bg">
  <div class="top_pro">
    <div class="wdtop">
      {% for product in products %}
        <div class="col cless">{{ product }}</div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
</div>
</div>