<div class="selected_bg">
    <div class="container arrpad">
        <div class="row">
            <div class="col-md-6 col-xs-12 select_pro">
                <div class="select-ctn">
                    <h4>MEN</h4>
                    <h2><span><b>FEATURED</b> PRODUCTS</span></h2>
                </div>
            </div>
<div class="col-md-6 col-xs-12 selected_pro">
<div class="wdselected">
{% for product in products %}
<div class="col cless">{{ product }}</div>
{% endfor %}
</div>
</div>
</div>
</div>
</div>