<div class="onsale_pro">
    <div class="container">
        <div class="row">
            <div class="onsale-ctn">
                <h2>Bestseller</h2>
                <a class="btn btn-primary btn-section" href="#" tabindex="0">show more products</a>
            </div>
            <div class="col-xs-12 on-pro">
<div class="wdonsale">
{% for product in products %}
<div class="col cless">{{ product }}</div>
{% endfor %}
</div>
</div>
</div>
</div>
</div>