<div class="tab-pane fade show" id="nav-latest" role="tabpanel" aria-labelledby="nav-latest-tab">
<div class="col-xs-12 latest-bg">
<div class="latest">
{% for product in products %}
<div class="col cless">{{ product }}</div>
{% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>