<div class="special-section">
<div class="container">
<div class="row">
<div class="sp-pro">
    <h3>Gifts for <b>all occasions</b></h3>
    <a class="btn btn-primary btn-section" href="#" tabindex="0">show more products</a>
</div>
<div class="col-xs-12 sp-ctn">
<div class="wbspecial">
{% for product in products %}
<div class="col cless">{{ product }}</div>
{% endfor %}
</div>
</div>
</div>
</div>
</div>